body{
    background-image: url("assets/images/background.jpeg"); /* Imagen de fondo */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    body {
        background-image: url("assets/images/fondo_celular.jpg");
    }
}


.contenedor { /* Contenedor para que las tarjetas se centren y se bajen automaticamente*/
    display: flex;
    flex-wrap: wrap; /* Esto permite que los elementos se bajen si no caben */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
}

.cuerpoCompleto{
    margin-top: 100px;
}

.tarjeta-horizontal{
    flex: 0 0 auto; /* Establece el tamaño de las tarjetas */
}

.contenedorHorizontal {
    display: flex;
    overflow-x: auto; /* Activa el scroll horizontal */
    gap: 20px; /* Espacio entre tarjetas */
    padding: 20px;
    white-space: nowrap; /* Evita que los elementos se rompan en nueva línea */
    scroll-behavior: smooth; /* (opcional) para hacer el scroll más suave */
}

.contenedorCategoria{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
}

.textoCategoria{
    margin-left: 2.5%;
    color: white;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
}

/*especificaciones para el submenu de los artistas*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}